@font-face {
    font-family: "NotoSans";
    src: url("../fonts/notosans.woff") format('woff'),
         url("../fonts/notosans.woff2") format('woff2'),
         url("../fonts/notosans.ttf") format('ttf'),
         url("../fonts/notosans.svg") format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "airportregular";
    src: url("../fonts/airportregular.woff") format('woff'),
         url("../fonts/airportregular.woff2") format('woff2'),
         url("../fonts/airportregular.ttf") format('ttf'),
         url("../fonts/airportregular.svg") format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "NotoSans";
    src: url("../fonts/notosansbold.woff") format('woff'),
         url("../fonts/notosansbold.woff2") format('woff2'),
         url("../fonts/notosansbold.ttf") format('ttf'),
         url("../fonts/notosansbold.svg") format('svg');
    font-weight: 800;
    font-style: normal;
}


