body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  background-color: #f2f2f2;
  @include container();
}

.global-wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 -5px 9px 2px #dbdbdb
}
@media (min-width: 768px) {
    .global-wrapper {
        width: 100%;
        margin: 0 auto
    }
}
@media (min-width: 1200px) {
    .global-wrapper {
        width: 1200px
    }
}

.visually-hidden {
  display: none;
}
