::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
* {
  box-sizing: border-box;
  outline: none !important;
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    height: 100%;
}
body {
    @include font-control(14px, 28px, 400);
    height: 100%;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
  max-width: 100%;
  height: 100%;
}
h1 {
	font-size: 18px;
	line-height: 26px;
	font-weight: bold;
	color: #000;
	text-align: center;
	text-transform: uppercase;
}
h2 {
    font-size: 36px;
    line-height: 36px;
    color: $grey;
    font-family: $secondary-font;
    text-transform: lowercase;
    font-weight: 400;
    margin: 15px 0;
}
h3 {
    font-size: 23px;
    line-height: 23px;
    color: $grey;
    font-family: $secondary-font;
    text-transform: lowercase;
    font-weight: 400;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
.hidden {
    display: none !important;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0; 
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.read-more {
    color: #06b357;
    @include font-control(11px, 15px, 400);
    text-transform: lowercase;
    display: block; 
    height: 25px;
    margin-top: 10px;
    padding-left: 30px;
    background: url("../img/read-more.png") no-repeat 0 0;
}
.wrap-all {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.wrap-top {
  flex: 1 0 auto;
}
#pmOverlay {
    display: block;
    position: absolute;
    top: 94px !important;  
    width: 100% !important;
    left: auto !important;
    text-align: center !important;
    opacity: 0.5; 
}