.special-offers {

	margin-bottom: 50px;
	
	h2 {
		display: inline-block;
		margin-right: 15px;
    vertical-align: middle;
	}

	.btn-green {
		display: inline-block;
    vertical-align: sub;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 0 10px;
	}
} 
.special-offers-slider {
    margin: 0 auto;
    margin-top: 10px;
    width: 95%;

    .slider__arrow {
			position: absolute;
			top: 55%;
			background: transparent url("../img/slider-arrow-green.png") no-repeat 0 0;
			border: 0;
			width: 15px;
	    height: 25px;

			&--prev {
				left: -34px;
			}

			&--next {
				right: -23px;
				transform: rotate(180deg);
			}
		}
}
.special-offer {
	width: 264px;
	position: relative;

	&__img {
    position: relative;
    height: 182px;
    line-height: 182px;
    overflow: hidden;

    img {
	    max-width: 100%;
	    max-height: 100%;
		}
	}

	&__data {
    @include font-control(11px, 14px, 400);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(6, 179, 87, .8);
    transform: skewX(-28deg);

		&:before {
			content: "";
			width: 40px;
    	height: 27px;
			display: inline-block;
			vertical-align: top;
			transform: skewX(28deg);
			background: url("../img/data-icon.png") no-repeat 0 0;
  	}

    span {
    	transform: skewX(28deg);
    	display: inline-block;
    	vertical-align: top;    	
    	padding: 7px 10px 5px 0px;
    }
	}

	&__desc {
    @include font-control(13px, 18px, 400);
    padding: 8px 0;
    color: #000; 
	}

	&__caption {
    @include font-control(14px, 18px, 800);
    display: block;
    color: $green-text;
	}
}